.header
    .container.container_main
        .header__inner
            a(href="#").header__logo
                span#parallax
                    img(src="assets/images/Bebi_logo1.svg", alt="" data-depth="0.2")
                span.header__logo-wrap
                    img(src="assets/images/Bebi_logo2.svg", alt="") 
            .header__column
                .header__burger.burg.js-burg
                    .burg__line
                    .burg__line
                    .burg__line
            .header__bg
                <svg preserveAspectRatio="none" width="100%" height="97" viewBox="0 0 1920 97" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <path d="M0 -1.5H-1.5V0V55.2941V56.706L-0.0906665 56.7914C335.959 77.1409 1575 95.5 1920 95.5H1921.5V94V0V-1.5H1920H0Z" fill="white" stroke="#AAD8F4" stroke-width="3"/>
                </svg>
            .header__wrapper.js-menu
                .header__nav.nav.js-header-wrap
                    .nav__item
                        a.header__nav-link(href="#conditions") Условия участия
                    .nav__item 
                        a.header__nav-link(href="#prizes") Призы
                    .nav__item 
                        a.header__nav-link(href="#mail") Участники
                .header__social
                    a.header__item(href="#")
                        img(src="assets/images/ok_1.svg", alt="")
                    a.header__item(href="#")
                        img(src="assets/images/vk_1.svg", alt="")
                    a.header__item(href="#")
                        img(src="assets/images/facebook_1.svg", alt="")
                    a.header__item(href="#")
                        img(src="assets/images/instagram_1.svg", alt="")