.footer
    .container.container_fluid
        .footer__inner
            .footer__copyright
                p ©Bebi® Premium — бренд детского питания. Основан в Словении более 35 лет назад. Главные приоритеты компании: качество продукта и ответственный подход. С первого дня основания, Bebi® Premium неуклонно придерживается установленных требований, чтобы обеспечить вашего малыша полезными и неизменно вкусными продуктами.
                p ©Папа — главный защитник и надёжная опора для своего ребёнка. И пусть он не часто открыто показывает свои чувства, его любовь безмерна. Конкурс папиных писем от Bebi® Premium «Привет, я Папа!» призван показать все возможности отцовской любви и доброты через письма своим детям.
                p *Призы участвующие в акции могут отличаться от представленных изображений на данном сайте.
                .footer__logo.footer__logo_mob
                    img(src="assets/images/footer_logo.svg", alt="")
                p © 2019 Droga Kolinska d.d. Все права защищены. Droga Kolinska является частью Atlantic Grupa
            .footer__social
                .footer__text
                    p Мы в социальных сетях:
                .footer__row
                    a.footer__social-item(href="https://ok.ru/group/53270352167000" target='_blank')
                        img(src="assets/images/ok.svg", alt="")
                    a.footer__social-item(href="https://vk.com/bebi_babyfood" target='_blank')
                        img(src="assets/images/vk.svg", alt="")
                    a.footer__social-item(href="https://www.facebook.com/bebibabyfood/" target='_blank')
                        img(src="assets/images/facebook.svg", alt="")
                    a.footer__social-item(href="https://www.instagram.com/bebi_club/" target='_blank')
                        img(src="assets/images/instagram.svg", alt="")
                .footer__logo
                    img(src="assets/images/footer_logo.svg", alt="")

