.mail#mail
    .container.container_fluid
        .mail__title.title
            h1 Папины письма
        .mail__inner.js-scroll
            .mail__row
                .mail__wrap
                    .mail__item.mail__item_flower(style="background-image: url(assets/images/card_mail.svg)")  
                        .mail__item-text
                            .mail__main 
                                h2 Дорогой Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип. 
                .mail__wrap
                    .mail__item.mail__item_dolphin(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогой Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
                .mail__wrap
                    .mail__item.mail__item_heart(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогой Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
                .mail__wrap
                    .mail__item.mail__item_flower(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогой Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
                .mail__wrap
                    .mail__item.mail__item_dolphin(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогая Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
                .mail__wrap
                    .mail__item.mail__item_dolphin(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогая Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
                .mail__wrap
                    .mail__item.mail__item_dolphin(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогая Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
                .mail__wrap
                    .mail__item.mail__item_dolphin(style="background-image: url(assets/images/card_mail.svg)")
                        .mail__item-text
                            .mail__main 
                                h2 Дорогая Федя!
                            .mail__description
                                p  Я желаю, чтобы ты всегда лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип ипсум, лорем ип сумем ипсум, лорем ип сумем ипсум, лорем ип сум. лорем ипсум, лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип лорем ип сумлорем и псум лор ем ипс ум, ем ипсум,лорем, лорем ип.
        .mail__wrapper                  
            a.mail__btn.button.js-popup Написать письмо     