.page404
    .container
        .page404__inner
            .page404__wrap
                h1.page404__title 404
                span.page404__text Страница Не найдена!
                a(href="#").page404__btn.button Вернуться на главную
                .page404__arrow
                    include ../../assets/images/404.svg