.conditions#conditions
    .container
        .conditions__inner
            .conditions__title.title
                h1 Условия участия
            .conditions__row
                .conditions__item.conditions__item_convert.item.item_desktop
                    include ../../assets/images/cond_item1.svg
                    .item__text.item__text_left
                        h2.item__title Напишите письмо<br>своему малышу
                        .item__description
                            p Вспомните самые яркие моменты. 
                            p Если вы сомневаетесь<br>в своих силах, мы поможем составить красивое письмо
                    .item__wrap#parallax1
                        include ../../assets/images/Convert1.svg
                    .item__wrap#parallax2
                        include ../../assets/images/Convert2.svg
                    .item__wrap#parallax3
                        include ../../assets/images/Convert3.svg
                .conditions__item.conditions__item_convert.item.item_mobile
                    include ../../assets/images/mob_1.svg
                    .item__text.item__text_left
                        h2.item__title Напишите письмо<br>своему малышу
                        .item__description
                            p Вспомните самые яркие моменты. 
                            p Если вы сомневаетесь<br>в своих силах, мы поможем составить красивое письмо
                .conditions__item.conditions__item_social.item.item_desktop
                    include ../../assets/images/cond_item2.svg
                    .item__text.item__text_centre
                        h2.item__title Поделитесь<br>этим письмом в соц. сетях
                        .item__description
                            p Пусть близкие узнают о ваших чувствах к малышу.
                    .item__wrap#parallax4
                        include ../../assets/images/cond_vk.svg
                    .item__wrap#parallax5
                        include ../../assets/images/cond_fb.svg
                    .item__wrap#parallax6
                        include ../../assets/images/cond_ok.svg
                    .item__wrap#parallax7
                        include ../../assets/images/cond_inst.svg
                .conditions__item.conditions__item_convert.item.item_mobile
                    include ../../assets/images/mob_2.svg
                    .item__text.item__text_centre
                        h2.item__title Поделитесь<br>этим письмом в соц. сетях
                        .item__description
                            p Пусть близкие узнают о ваших чувствах к малышу.
                .conditions__item.conditions__item_cloud.item.item_desktop
                    include ../../assets/images/cond_item3.svg
                    .item__text.item__text_right
                        h2.item__title Ожидайте результаты конкурса 
                        .item__description
                            p Победители будут объявлены XX.XX.XX
                    .item__wrap#parallax8
                        include ../../assets/images/cond_cloud.svg
                .conditions__item.conditions__item_cloud.item.item_mobile
                    include ../../assets/images/mob_3.svg
                    .item__text.item__text_right
                        h2.item__title Ожидайте результаты конкурса 
                        .item__description
                            p Победители будут объявлены XX.XX.XX 
            div.js-popup
                .conditions__btn.button Написать письмо