.general
    .general__bg(style="background-image: url(assets/images/general.png)")
        .container.container_main
            .general__inner
                .general__pic
                    img(src="assets/images/dady.svg", alt="")
                .general__main.js-main
                    .general__title
                        h2 Конкурс папиных писем
                    .general__description
                        p Напишите письмо своему ребёнку. Пусть он ещё не умеет читать, но как только вы его научите, дайте ему прочесть ваши слова. Пусть ваш малыш узнает, как сильно его любит папа.
                        p Вспомните самые светлые и забавные моменты с первого дня, как вы стали папой. Поделитесь ими с вашим малышом и близкими. Получите шанс <a href="#prizes" class="general__link">выиграть ценные призы!</a>
                    a(href="#conditions").general__btn.button Принять участие
                .general__main.general__main_mobile
                    include ../../assets/images/Vector.svg
                    .general__text
                        h2.general__main-title Дорогой Папа!
                        .general__subtitle
                            span Напишите письмо своему ребенку
                        .general__description
                            p Пусть он ещё не умеет читать, но как только вы его научите, дайте ему прочесть ваши слова. Пусть ваш малыш узнает, как сильно его любит папа.
                            p Вспомните самые светлые и забавные моменты с первого дня, как вы стали папой. Поделитесь ими с вашим малышом и близкими. Получите шанс <a href="#prizes" class="general__link">выиграть ценные призы!</a>
                    a.general__main-link(href="#conditions")
.general__mob-bg(style="background-image: url(assets/images/DearDaddy.png)")    
    
            
                        
                