include _mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Bebi
        meta(property="og:type" content="website")
        meta(property="og:url" content)
        meta(property = "og:title" content)
        meta(property = "og:image" content)
        meta(property = "og:description" content)
        meta(property = "og:keywords" content)
        meta(property = "og:image:width" content)
        meta(property = "og:image:height" content)
        link(rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon")
        link(rel="icon" href="assets/images/favicon.ico" type="image/x-icon")
        include _styles.pug
    body(style="background-image: url(assets/images/Background.png)")
        .wrapper
            include components/header/header.pug
            include components/general/general.pug
            include components/conditions/conditions.pug
            include components/prizes/prizes.pug
            include components/mail/mail.pug
            include components/footer/footer.pug
            include components/popup/popup_one.pug
            


    
        include _scripts.pug