.prizes#prizes
    .container
        .prizes__inner
            .prizes__title.title
                h1 Призы
            .prizes__row
                .prizes__item
                    .prizes__pic
                        img(src="assets/images/1.png", alt="")
                    .prizes__text.prizes__text_left
                        .prizes__main
                            h2 Большой набор<br>каш* BEBI® Premium
                        .prizes__description
                            p Кушайте вкусно<br>и полезно!
                    .prizes__arrow.prizes__arrow_left
                            img(src="assets/images/arrow1.svg", alt="")
                .prizes__item
                    .prizes__pic
                        img(src="assets/images/2.png", alt="")
                    .prizes__text
                        .prizes__main
                            h2 Фотоаппарат instax*<br>с моментальной печатью
                        .prizes__description
                            p Запечатли самые яркие моменты!
                    .prizes__arrow.prizes__arrow_center
                        img(src="assets/images/arrow2.svg", alt="")
                    .prizes__arrow.prizes__arrow_mob
                        img(src="assets/images/arrow_mob2.svg", alt="")
                .prizes__item
                    .prizes__pic
                        img(src="assets/images/3.png", alt="")
                    .prizes__text.prizes__text_right
                        .prizes__main
                            h2 Кофемашина*
                        .prizes__description
                            p Поможет легче просыпаться после бессонных ночей
                    .prizes__arrow.prizes__arrow_right
                        img(src="assets/images/arrow3.svg", alt="")
                    .prizes__arrow.prizes__arrow_mob
                            img(src="assets/images/arrow_mob1.svg", alt="")
                
                
                        
                    
            